@import '../../../styles/mixins';
@import '../../../styles/variables';

.header {
  @include flex;
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.container {
  @include flex;
  @include alignContent(center);
  flex: 1;
  justify-content: space-evenly;
  padding: 10px;
  .item:hover {
    cursor: pointer;
  }
  .item:not(:first-child):hover {
    background-color: $orange;
    border-radius: 3px;
  }
  @include desktop {
    flex: 0.3;
  }
}
.item {
  @include flexCenter;
  height: 30px;
  color: $black;
  padding: 10px;
  user-select: none;
}
.logo {
  width: 50px;
}
.user {
  --spacing: 10px;
  @include flex;
  @include text(18px, bold);
  align-items: center;
  margin-left: auto;
  position: relative;
  padding: 0 var(--spacing);
  margin-right: 5%;
  @include desktop {
    --spacing: 20px;
  }
  i {
    color: $orange;
    @include desktop {
      margin-left: calc(var(--spacing) / 2);
    }
  }
  span {
    @include textTrunkcate(1);
  }
  &:hover {
    border-radius: 3px;
    background-color: $orange;
    .dropdown {
      @include flexCol;
    }
    i {
      color: $black;
    }
  }
  .dropdown {
    background-color: $white;
    border: 1px solid;
    border-radius: 3px;
    display: none;
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0;
    .item {
      @include flex;
      @include text(14px, bold);
      border-radius: 3px;
      border-bottom: 1px solid;
      justify-content: space-between;
      padding: 20px;
      &:hover {
        background-color: $darkGoldenrod;
        opacity: 0.8;
        i {
          transform: scale(1.8);
          transition: transform 0.2s ease-out 0.1s;
        }
      }
    }
  }
}
