@import '../../../styles/mixins';
@import '../../../styles/variables';

.container {
  @include flexColCenter;
  --col: 2;
  --spacing: 5px;
  border: 1px solid;
  border-radius: 5px;
  background-color: $white;
  padding: var(--spacing);
  width: calc(calc(100% / var(--col)) - var(--spacing));
  margin-bottom: calc(var(--spacing) * 2);
  @include desktop {
    --col: 4;
    --spacing: 20px;
    margin-right: var(--spacing);
    margin-bottom: var(--spacing);
    justify-content: flex-start;
  }
}
.pizzaImg {
  --scale: 1.2;
  flex: 1;
  padding: 10px;
  margin-bottom: 10px;
  .img {
    border-radius: 5px;
  }
  &:hover {
    transform: scale(var(--scale));
    -webkit-transition: 0.5s ease;
    transition: transform 0.5s ease;
  }
  @include desktop {
    --scale: 1.1;
    padding: 0;
  }
}
.header {
  height: 80px;
  .pizzaName {
    @include text(16px, bold);
    color: $black;
    line-height: 1.4;
    margin-bottom: var(--spacing);
  }
}
.descript {
  @include text(14px, bold);
  @include textTrunkcate(2);
  margin-bottom: var(--spacing);
  text-align: justify;
}
.footer {
  @include flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .price {
    @include text(10px, 400);
    color: $black;
  }
}
