@import '../../../../../styles/mixins';
@import '../../../../../styles/variables';

.container {
  @include flex;
  border-radius: 5px;
  background-color: $white;
  flex: 1;
}
.left {
  position: relative;
  .img {
    border-radius: 5px;
  }
  @include desktop {
    flex: 0.5;
  }
}
.right {
  @include flexCol;
  flex: 1;
  padding: 30px;
  position: relative;
  @include desktop {
    flex: 0.5;
  }
}
.right > div[class*='container'] {
  width: 40%;
}
.exit {
  --exit-pos: 0;
  background-color: $darkGold;
  border-top-right-radius: 5px;
  position: absolute;
  top: var(--exit-pos);
  right: var(--exit-pos);
  padding: 10px 15px;
  @include desktop {
    background-color: transparent;
  }
  &:hover {
    cursor: pointer;
    background-color: $darkGold;
  }
}
