@import '../../../../styles/mixins';

.container {
  @include flexColCenter;
}
.products {
  @include flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  @include desktop {
    padding: 20px 15% 0;
    justify-content: flex-start;
  }
}
.search {
  --spacing: 20px;
  align-self: flex-end;
  border: 1px solid $orange;
  padding: 10px;
  margin-bottom: var(--spacing);
  @include desktop {
    --spacing: 0px;
    margin-right: calc(15% + 20px);
  }
  &:focus-visible {
    outline-color: $orange;
  }
}
