@import '../../../styles/mixins';
@import '../../../styles/variables';

.toCartBtn {
    background: none;
    border: 1px solid goldenrod;
    padding: 10px 15px;
    font-weight: bolder;
    color: goldenrod;
    cursor: pointer;
    &:hover {
        background: $toCartHover;
        color: $white;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
    }
    &:active {
        background: $toCartActive;
        color: $white;
    }
}
