@import '../../../styles/mixins';
@import '../../../styles/variables';

.container {
  @include flex;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
  @include desktop {
    width: 60%;
  }
}
.title {
  @include text(18px, bolder);
  border-radius: 3px;
  color: $darkGold;
  padding: 10px;
  user-select: none;
  margin-right: 10px;
  text-transform: capitalize;
  &:hover {
    background-color: $black;
    color: $orange;
    cursor: pointer;
  }
}
.active {
  @extend .title;
  border-bottom: 3px solid $orange;
}
