@import '../../../styles/mixins';

.container {
  @include flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 50px;
  justify-content: space-between;
  @include desktop {
    padding: 0 15%;
  }
}
.title {
}
